ProduceTrackingVaccine/Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLogin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLogin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="akun">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="akun" nillable="true" type="tns:akun" />
</xs:schema>