RSTrackingVaccine/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51957/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfRumahSakit" />
  <xs:element name="AddLaporanPenggunaan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfRumahSakit" minOccurs="0" name="data" nillable="true" type="q1:pelaporan_penggunaan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLaporanPenggunaanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLaporanPenggunaanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLaporanPenggunaan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPelaporanP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLaporanPenggunaanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLaporanPenggunaanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfRumahSakit" minOccurs="0" name="GetPasienResult" nillable="true" type="q2:ArrayOfpasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfRumahSakit" minOccurs="0" name="GetVaksinResult" nillable="true" type="q3:ArrayOfvaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>