RSTrackingVaccine/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfRumahSakit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfRumahSakit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pelaporan_penggunaan">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBPOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPelaporanP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nikPasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noRegVaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noRekamMedis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pelaporan_penggunaan" nillable="true" type="tns:pelaporan_penggunaan" />
  <xs:complexType name="ArrayOfpasien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pasien" nillable="true" type="tns:pasien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpasien" nillable="true" type="tns:ArrayOfpasien" />
  <xs:complexType name="pasien">
    <xs:sequence>
      <xs:element minOccurs="0" name="alamatPasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idPemerintah" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idRS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="namaPasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nikPasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noRegPasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noRegVaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noRekamMedis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noTelepon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pasien" nillable="true" type="tns:pasien" />
  <xs:complexType name="ArrayOfvaksin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vaksin" nillable="true" type="tns:vaksin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvaksin" nillable="true" type="tns:ArrayOfvaksin" />
  <xs:complexType name="vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="idProdusen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idVaksin" type="xs:int" />
      <xs:element minOccurs="0" name="noRegVaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="statusVPasien" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vaksin" nillable="true" type="tns:vaksin" />
</xs:schema>