ProduceTrackingVaccine/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfProdusen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfProdusen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="laporanvaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBPOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idLaporan" type="xs:int" />
      <xs:element minOccurs="0" name="idProdusen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noRegVaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="laporanvaksin" nillable="true" type="tns:laporanvaksin" />
</xs:schema>