ProduceTrackingVaccine/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55528/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfProdusen" />
  <xs:element name="AddLaporanVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfProdusen" minOccurs="0" name="data" nillable="true" type="q1:laporanvaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLaporanVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLaporanVaksinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>